
1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

1. 

   - Create a lambda function that takes two arguments and returns their sum.
   - Create another lambda function that takes a single argument and returns its square.
   - Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

In [10]:
#- Create a lambda function that takes two arguments and returns their sum.

In [8]:
c=lambda x,y:x+y

In [9]:
c(7,11)

18

- Create another lambda function that takes a single argument and returns its square.

In [12]:
a= lambda n: n**2

In [13]:
a(4)

16

 Use the `lambda` functions to calculate the sum and square of various numbers and print the results.

In [18]:
add=lambda *n:sum(n)

In [20]:
add(1,2,3,4,5,6)

21

In [27]:
list1=[4,6,8,2,9,5]
list(map(lambda n:n**2,list1))

[16, 36, 64, 4, 81, 25]

2. 
   - Define a list of integers.
   - Use the `filter` function to create a new list that contains only the even numbers from the original list.
   - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.
   - Print both filtered lists.

- Use the `filter` function to create a new list that contains only the even numbers from the original list

In [28]:
def even(n):
    if n%2==0:
        return n

In [29]:
list1=[2,6,9,12,15,27,48,54,87,98]

In [30]:
list(filter(even,list1))

[2, 6, 12, 48, 54, 98]

 - Use the `filter` function again to create a new list that contains only numbers greater than 10 from the original list.

In [31]:
def great(n):
    if n>=10:
        return n

In [32]:
list(filter(great,list1))

[12, 15, 27, 48, 54, 87, 98]

- Print both filtered lists.

In [34]:
print(list(filter(even,list1)))
print(list(filter(great,list1)))

[2, 6, 12, 48, 54, 98]
[12, 15, 27, 48, 54, 87, 98]

3. 
   - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).
   - Use the `map` function to convert each string to an integer and store the result in a new list.
   - Use the `map` function again to square each integer in the new list and store the result in another new list.
   - Print both new lists.

 - Define a list of strings where each string represents a number (e.g., `["1", "2", "3"]`).

In [35]:
list1=["33","12","35","54","3"]

 - Use the `map` function to convert each string to an integer and store the result in a new list.

In [36]:
def stoa(n):
    if type(n)==str:
        return int(n)

In [38]:
c=list(map(stoa,list1))

In [39]:
c

[33, 12, 35, 54, 3]

- Use the `map` function again to square each integer in the new list and store the result in another new list.

In [45]:
a=list(map(lambda n:n**2,c))

In [46]:
a

[1089, 144, 1225, 2916, 9]

 - Print both new lists.

In [48]:
c     #string to integer converted list

[33, 12, 35, 54, 3]

In [50]:
a     #squares of the new integer list

[1089, 144, 1225, 2916, 9]

4. 
   - Create a list of dictionaries, where each dictionary represents a person with keys "name" and "age". Example: ` [{"name": "Alice", "age": 30}, {"name": "Bob", "age": 25}, ...]`
   - Use the `filter` function to create a new list that contains only the people who are older than 25.
   - Use the `map` function to create a new list that contains the names of the filtered people.
   - Print the list of names.

In [54]:
dic=[{"name":"srinivas","age":"49"},{"name":"chidvilas","age":"21"},{"name":"eeshanth","age":"27"},{"name":"shankar","age":"33"}]

In [62]:
def old(n):
    if n["age"]>="25":
        return n["age"]

In [63]:
x=list(filter(old,dic))

In [64]:
x

[{'name': 'srinivas', 'age': '49'},
 {'name': 'eeshanth', 'age': '27'},
 {'name': 'shankar', 'age': '33'}]

In [66]:
def names(n):
    return {"name" : n["name"]}
list(map(names,x))

[{'name': 'srinivas'}, {'name': 'eeshanth'}, {'name': 'shankar'}]

5. 
   - Create a program that reads a list of numbers from the user (you can use the `input` function for this).
   - Use `map` and `filter` functions to perform the following operations:
     - Square each number.
     - Filter out numbers that are not divisible by 3.
   - Print the result.

In [70]:
list1=[]
n=int(input("enter the number of elements in the list:  "))
for i in range(1,n+1):
    a=int(input("enter the number:  "))
    list1.append(a)
print(list1)

enter the number of elements in the list:  7
enter the number:  3
enter the number:  8
enter the number:  6
enter the number:  4
enter the number:  67
enter the number:  87
enter the number:  34
[3, 8, 6, 4, 67, 87, 34]

In [71]:
def sqr(n):
    return(n**2)

In [72]:
list(map(sqr,list1))

[9, 64, 36, 16, 4489, 7569, 1156]

In [73]:
def fil(n):
    if n%3!=0:
        return(n)

In [74]:
list(filter(fil,list1))

[8, 4, 67, 34]

### class task

In [75]:
# take combination of some integers,float and string print only float values
# print only strings
# replace integer values with a name is called integer, float values with float, string values with string

In [76]:
a= [1,4,0.15,6,"hello",0.5,56,1.75,"hai",23,736,0.4762547,"iam"]

In [77]:
def fl(n):
    if type(n)==float:
        return(n)

In [78]:
list(filter(fl,a))

[0.15, 0.5, 1.75, 0.4762547]

In [79]:
def st(n):
    if type(n)==str:
        return(n)

In [80]:
list(filter(st,a))

['hello', 'hai', 'iam']

In [81]:
def val(n):
    if type(n)==float:
        return("float")
    elif type(n)== int:
        return("integer")
    else:
        return("string")

In [82]:
list(map(val,a))

['integer',
 'integer',
 'float',
 'integer',
 'string',
 'float',
 'integer',
 'float',
 'string',
 'integer',
 'integer',
 'float',
 'string']