

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

In [1]:
tup = ('strawberry','banana','dragon fruit','apple','water melon')

In [2]:
tup[0]

'strawberry'

In [3]:
tup[1]

'banana'

In [4]:
tup[2]

'dragon fruit'

In [5]:
tup[3]

'apple'

In [6]:
tup[4]

'water melon'

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

In [9]:
tup1=("supplies","awesome","enemy","charge","attack")
tup2=("rush","impressive","fall back","ammo","cover")

In [10]:
tup=tup1+tup2

In [11]:
tup

('supplies',
 'awesome',
 'enemy',
 'charge',
 'attack',
 'rush',
 'impressive',
 'fall back',
 'ammo',
 'cover')

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

In [12]:
set1={2,4,6,8,10,12,14,16,18,20}

In [13]:
set1

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

In [14]:
set1={9,9,6,3,1,8,4,2,7}
set2={7,8,9,3,0,7,5,3,9,5}

In [16]:
set1.intersection(set2)  #intersection

{3, 7, 8, 9}

In [18]:
set1.union(set2)     #union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
set1.difference(set2)    #difference

{1, 2, 4, 6}

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

In [21]:
tup=(69,77,41,23,43,26,17,60,99,87)

In [22]:
type(tup)

tuple

In [23]:
set1=set(tup)

In [24]:
set1

{17, 23, 26, 41, 43, 60, 69, 77, 87, 99}

In [25]:
type(set1)

set

In [26]:
max(set1)

99

In [27]:
min(set1)

17

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

In [28]:
tup=(78,98,45,67,55)

-- tupleis immutable because it cannot be added and cannot be removed and cannot be modified

In [32]:
tup.add(6)

AttributeError: 'tuple' object has no attribute 'add'

In [33]:
tup.append(55)

AttributeError: 'tuple' object has no attribute 'append'

In [34]:
tup.remove(45)

AttributeError: 'tuple' object has no attribute 'remove'

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

In [35]:
set2={78,98,45,67,55}

In [36]:
set2.add(55)

In [37]:
set2

{45, 55, 67, 78, 98}

In [38]:
set2.remove(98)

In [39]:
set2

{45, 55, 67, 78}

In [41]:
45 in set2

True

In [42]:
len(set2)

4

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

In [43]:
tup = (4,8,6,2,9,3,5,0,1,7)

In [45]:
tup[2:7:1]

(6, 2, 9, 3, 5)

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

In [46]:
lis=[45,55,67,89,45,55,78,67,23,21,69]

In [47]:
set1=set(lis)

In [48]:
set1

{21, 23, 45, 55, 67, 69, 78, 89}

In [49]:
len(set1)

8

In [50]:
len(lis)-len(set1)

3

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

In [54]:
friends_favourite = ("bahubali","RRR","kgf","pushpa","thumbaad")
my_favourites = {"fast and furious","pushpa","deadpool","sye","kgf","RRR"}

In [55]:
type(my_favourites)

set

In [58]:
f=set(friends_favourite)

In [59]:
type(f)

set

In [60]:
my_favourites.intersection(f)

{'RRR', 'kgf', 'pushpa'}